/*
 modular scale: 1.618
*/ 

body {
  font-size: 16px;
  height: 98vh;
  background-color: #b1ceec;
  font-family: 'Times New Roman', Georgia, serif;   
}

header{
  width: 100%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 0%;
}

h1 {
    font-size: 4.236em;
    font-weight: 900;
    color: rgb(12, 9, 9);
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 5% 0;
}

h2 {
  font-size: 2.618em;
  margin: auto;  
  color: #7e4103;  
  padding-bottom: 1%;
}

h3 {
  font-size: 1.618em;
  font-weight: 900;
  text-align: center;
  display: block;
  margin: auto;  
  color: #f10a0a;  
  padding-bottom: 1%;
}

label {
  font-size: 1.618em;
  font-family: 'Roboto Slab', Arial, serif;
}  

div {
  
  clear: both;
  margin: 2%;
}  

     
#contact {
  width:90%;
  margin: 1% auto;
}

#contact label {
  font-size: 1.618em;
  width: 100%;
  display: inline;
  float: left;
  font-weight: 700;
  margin: 2% 5% 2% 2%;
}

#contact input {
  display: inline; 
  width: 100%;
  
}

.first {
  margin: 2% 1% 0 0; 

}

.email label {
  margin: 0 1% 0 0;  
}

.radio label {
  font-size: 0.618em;
  text-align: left;
  display: inline;
}

.radio input {
  font-size: 0.618em;
  text-align: left;
  display: inline;
}

#submit {
  position: relative;
  clear:both;
  font-family: 'Times New Roman';
  box-sizing: border-box;
  width: 15%;
  height: 1.5em;
  background-color: rgba(201, 123, 224, 0.932);
  color: black;
  font-size: 1.25em;
  border-radius: 15%;
  border: none;	
  margin: 0 0 0 55%;
}

