/*
 modular scale: 1.618
*/ 

body {
  font-size: 16px;
  height: 98vh;
  background-color: #b1ceec;
  font-family: 'Times New Roman', Georgia, serif;   
}

header{
  width: 100%;
  text-align: center;
  padding-top: 3%;
}

h1 {
    font-size: 4.236em;
    font-weight: 900;
    color: rgb(12, 9, 9);
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 3% 0;
}

h2 {
  font-size: 2.618em;
  margin: 0 0 0 7%;  
  color: #7e4103;  
  padding-bottom: 1%;
}

h3 {
  font-size: 1.618em;
  font-weight: 900;
  text-align: center;
  display: block;
  margin: 1% 0 0 0;  
  color: #f10a0a;  
  padding-bottom: 1%;
}

#contact {
  width: 90%;
  margin: 1% auto;
}

label {
  font-size: 1.618em;
  font-family: 'Roboto Slab', Arial, serif;
}  

#contact .fields input {
  display: block; 
  width: 100%;
  margin: 2% auto;
  height: 1.618em;
}

#contact .fields label {
  display: block;
  float: left;
  font-size: 1.618em;
  width: 100%;
  font-weight: 700;
  margin: 0 0 1% 0;
}

#contact .radio label {
  text-align: center;
  display: inline;
  font-size: 1.618em;
}

#contact .radio input {
  display: inline;
  height: 1.618em;
  margin-top: 2% auto;
}

#contact .button {
  text-align: center;  
  margin: 1% 0 0 0;
}

#contact #submit {
  position: relative;
  clear:both;
  font-family: 'Times New Roman';
  font-weight: 900;
  box-sizing: border-box;
  width: 30%;
  height: 1.5em;
  background-color: rgba(201, 123, 224, 0.932);
  color: black;
  font-size: 1.25em;
  border-radius: 15%;
  border: none;	
}

@media only screen and (min-width: 768px) {
  h1{
    font-size: 6.854em;
  }
  
  h2{
    font-size: 4.236em;
  }

  h3{
    font-size: 2.618em;
  }

  #contact label {
    font-size: 2.618em;
  }

  .fields input {
    height: 2.618em;
  }

  #contact #submit {
    width: 60%;
  }

  #contact .radio {
    text-align: center;
    font-size: 1.618em;    
  }

  #contact .radio input {
    margin-left: 1%;
  }

}
