/*
 modular scale: 1.618
*/ 

body {
  font-size: 16px;
  height: 98vh;
  background-color: #b1ceec;
  font-family: 'Times New Roman', Georgia, serif;   
}

header{
  width: 100%;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 0%;
}

h1 {
    font-size: 4.236em;
    font-weight: 900;
    color: rgb(12, 9, 9);
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 3% 0;
}

h2 {
  font-size: 2.618em;
  margin: 0 0 0 7%;  
  color: #7e4103;  
  padding-bottom: 1%;
}

h3 {
  font-size: 1.618em;
  font-weight: 900;
  text-align: center;
  display: block;
  margin: auto;  
  color: #f10a0a;  
  padding-bottom: 1%;
}

#contact {
  width: 90%;
  margin: 1% auto;
}

label {
  font-size: 1.618em;
  font-family: 'Roboto Slab', Arial, serif;
}  

div {
  clear: none;
  margin: 2%;
}  

#contact label {
  font-size: 1.618em;
  width: 100%;
  display: inline;
  float: left;
  font-weight: 700;
  margin: 2% 5% 2% 2%;
}

#contact input {
  display: inline; 
  width: 40%;
  height: 1.618em;
}

.email label {
  margin: 0 1% 0 0;  
}

.radio label {
  font-size: 1.618em;
  float: none;
}

.radio input {
  height: 1.618em;
  float: none;
  margin-top: 0;
  position: relative;
}

#contact #submit {
  position: relative;
  clear:both;
  font-family: 'Times New Roman';
  font-weight: 900;
  box-sizing: border-box;
  width: 10%;
  height: 1.5em;
  background-color: rgba(201, 123, 224, 0.932);
  color: black;
  font-size: 1.25em;
  border-radius: 15%;
  border: none;	
  margin: 0 0 0 45%;
}

